/* Habit colors - A set of colors for user authored habits that can be referenced from code */

:root {
  --hc-coral: #ff7d7d;
  --hc-sunshine: #ff9864;
  --hc-saffron: #ffff91;
  --hc-leaf: #74bc74;
  --hc-breeze: #75b5ff;
  --hc-ocean: #4463d4;
  --hc-royal: #a566ff;
  --hc-lilac: #d4a6ff;
  --hc-rose: #ff7dcd;
  --hc-sand: #f5deb3;
  --hc-auburn: #632c20;
}

/* styles for font colors */

.hc-coral {
  color: var(--hc-coral) !important;
}

.hc-sunshine {
  color: var(--hc-sunshine) !important;
}

.hc-saffron {
  color: var(--hc-saffron) !important;
}

.hc-leaf {
  color: var(--hc-leaf) !important;
}

.hc-breeze {
  color: var(--hc-breeze) !important;
}

.hc-ocean {
  color: var(--hc-ocean) !important;
}

.hc-royal {
  color: var(--hc-royal) !important;
}

.hc-lilac {
  color: var(--hc-lilac) !important;
}

.hc-rose {
  color: var(--hc-rose) !important;
}

.hc-sand {
  color: var(--hc-sand) !important;
}

.hc-auburn {
  color: var(--hc-auburn) !important;
}

/* styles for background colors */

.hc-bg-coral {
  background-color: var(--hc-coral) !important;
}

.hc-bg-sunshine {
  background-color: var(--hc-sunshine) !important;
}

.hc-bg-saffron {
  background-color: var(--hc-saffron) !important;
}

.hc-bg-leaf {
  background-color: var(--hc-leaf) !important;
}

.hc-bg-breeze {
  background-color: var(--hc-breeze) !important;
}

.hc-bg-ocean {
  background-color: var(--hc-ocean) !important;
}

.hc-bg-royal {
  background-color: var(--hc-royal) !important;
}

.hc-bg-lilac {
  background-color: var(--hc-lilac) !important;
}

.hc-bg-rose {
  background-color: var(--hc-rose) !important;
}

.hc-bg-sand {
  background-color: var(--hc-sand) !important;
}

.hc-bg-auburn {
  background-color: var(--hc-auburn) !important;
}

/* styles for border colors */

.hc-bd-coral {
  border-color: var(--hc-coral) !important;
}

.hc-bd-sunshine {
  border-color: var(--hc-sunshine) !important;
}

.hc-bd-saffron {
  border-color: var(--hc-saffron) !important;
}

.hc-bd-leaf {
  border-color: var(--hc-leaf) !important;
}

.hc-bd-breeze {
  border-color: var(--hc-breeze) !important;
}

.hc-bd-ocean {
  border-color: var(--hc-ocean) !important;
}

.hc-bd-royal {
  border-color: var(--hc-royal) !important;
}

.hc-bd-lilac {
  border-color: var(--hc-lilac) !important;
}

.hc-bd-rose {
  border-color: var(--hc-rose) !important;
}

.hc-bd-sand {
  border-color: var(--hc-sand) !important;
}

.hc-bd-auburn {
  border-color: var(--hc-auburn) !important;
}

/* styles for progress bar, s.t. bar matches habit color */

progress {
  background-color: #f5f5f5;
  border: none !important;
}

.hc-coral::-webkit-progress-value {
  background-color: var(--hc-coral);
}

.hc-sunshine::-webkit-progress-value {
  background-color: var(--hc-sunshine);
}

.hc-saffron::-webkit-progress-value {
  background-color: var(--hc-saffron);
}

.hc-leaf::-webkit-progress-value {
  background-color: var(--hc-leaf);
}

.hc-breeze::-webkit-progress-value {
  background-color: var(--hc-breeze);
}

.hc-ocean::-webkit-progress-value {
  background-color: var(--hc-ocean);
}

.hc-royal::-webkit-progress-value {
  background-color: var(--hc-royal);
}

.hc-lilac::-webkit-progress-value {
  background-color: var(--hc-lilac);
}

.hc-rose::-webkit-progress-value {
  background-color: var(--hc-rose);
}

.hc-sand::-webkit-progress-value {
  background-color: var(--hc-sand);
}

.hc-auburn::-webkit-progress-value {
  background-color: var(--hc-auburn);
}
